version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: ajay-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    image: ajay
    container_name: ajay-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mongo

volumes:
  mongo-data:
