spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/interview

  mail:
    host: smtp.gmail.com
    port: 587
    username: testing991162@gmail.com
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true



api-key: ${BREVO_API_KEY}

