#name: Java CI Pipeline
#
#on:
#  push:
#    branches: [ "main" ]
#
#jobs:
#  build:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Set up Java
#        uses: actions/setup-java@v4
#        with:
#          java-version: '21'
#          distribution: 'temurin'
#
#      - name: Build & Test
#        env:
#          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
#          BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
#        run: mvn clean test
